@import "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");
/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons 
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001'; }

.flex-direction-nav a.flex-next:before {
  content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
.twentytwenty-handle:before, .twentytwenty-handle:after {
  content: " ";
  display: block;
  width: 3px;
  background: white;
  height: 9999px;
  position: absolute;
  left: 50%;
  margin-left: -1.5px;
  z-index: 30;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.twentytwenty-before-label, .twentytwenty-after-label {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  color: white;
  font-size: 13px;
  letter-spacing: 0.1em; }

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  margin-top: -19px;
  line-height: 38px;
  padding: 0 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.twentytwenty-left-arrow, .twentytwenty-right-arrow {
  width: 0;
  height: 0;
  border: 6px inset transparent;
  position: absolute;
  top: 50%;
  margin-top: -6px; }

.twentytwenty-container {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none; }

.twentytwenty-container img {
  position: absolute;
  top: 0;
  display: block; }

.twentytwenty-container.active .twentytwenty-overlay, .twentytwenty-container.active :hover.twentytwenty-overlay {
  background: transparent; }

.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active .twentytwenty-overlay .twentytwenty-after-label, .twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-before-label,
.twentytwenty-container.active :hover.twentytwenty-overlay .twentytwenty-after-label {
  opacity: 0; }

.twentytwenty-container * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.twentytwenty-before-label {
  opacity: 0; }

.twentytwenty-before-label:before {
  content: "Before";
  left: 10px; }

.twentytwenty-after-label {
  opacity: 0; }

.twentytwenty-after-label:before {
  content: "After";
  right: 10px; }

.twentytwenty-overlay {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
  background: transparent;
  z-index: 25; }

.twentytwenty-overlay:hover {
  background: rgba(0, 0, 0, 0.5); }

.twentytwenty-overlay:hover .twentytwenty-after-label {
  opacity: 1; }

.twentytwenty-overlay:hover .twentytwenty-before-label {
  opacity: 1; }

.twentytwenty-before {
  z-index: 20; }

.twentytwenty-after {
  z-index: 10; }

.twentytwenty-handle {
  height: 38px;
  width: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -22px;
  margin-top: -22px;
  border: 3px solid white;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
  z-index: 40;
  cursor: pointer; }

.twentytwenty-handle:before {
  bottom: 50%;
  margin-bottom: 22px;
  -webkit-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-handle:after {
  top: 50%;
  margin-top: 22px;
  -webkit-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5);
  box-shadow: 0 -3px 0 white, 0px 0px 12px rgba(51, 51, 51, 0.5); }

.twentytwenty-left-arrow {
  border-right: 6px solid white;
  left: 50%;
  margin-left: -17px; }

.twentytwenty-right-arrow {
  border-left: 6px solid white;
  right: 50%;
  margin-right: -17px; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 17px solid white;
  margin-left: 31px; }

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 17px solid white;
  margin-left: 39px; }

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444; }

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

.cf:before, .l-grid-row:before, .l-content:before,
.cf:after,
.l-grid-row:after,
.l-content:after {
  content: "";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after, .l-grid-row:after, .l-content:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf, .l-grid-row, .l-content {
  *zoom: 1; }

/**
 * Path Settings (from document root)
 */
/**
 * Grid Settings
 */
/**
 * Baseline
 */
/**
 * Colours
 */
.white-bg {
  background: #fff;
  color: #000; }

.green-bg {
  background: #588b0f;
  color: #fff; }

.grey-bg {
  background: #4c4c4c;
  color: #fff; }

.light-grey-bg {
  background: #f2f2f2;
  color: #000; }

.light-green-bg {
  background: #dfebc5;
  color: #000; }

.white-bg-transparent {
  background: #FFF;
  background: rgba(255, 255, 255, 0.9);
  color: #000; }

.green-bg-transparent {
  background: #588b0f;
  background: rgba(88, 139, 15, 0.9);
  color: #fff; }

.grey-bg-transparent {
  background: #4c4c4c;
  background: rgba(76, 76, 76, 0.9);
  color: #fff; }

body {
  font-family: "Source Sans Pro", Arial;
  font-size: 16px;
  line-height: 21px; }

h1, h2, h3, h4, h5, h6, h7 {
  margin: 0;
  padding: 0;
  margin-bottom: 1em; }

h1, .h1 {
  font: normal 48px/58px "Source Sans Pro", Arial; }

h2, .h2 {
  font: normal 36px/40px "Source Sans Pro", Arial; }

h3, .h3 {
  font: normal 24px/27px "Source Sans Pro", Arial; }

h4, .h4 {
  font: normal 20px/25px "Source Sans Pro", Arial; }

p {
  margin: 0 0 21px; }

a {
  text-decoration: none;
  color: inherit; }

strong {
  font-family: "vaud-semi-bold", Arial; }

/********** RESPONSIVE STUFF **********/
@media (max-width: 1206px) {
  h1, .h1 {
    font: normal 38px/48px "vaud-bold", Arial; }

  h2, .h2 {
    font: normal 32px/36px "vaud-medium", Arial; }

  h3, .h3 {
    font: normal 22px/24px "vaud-regular", Arial; } }
@media (max-width: 550px) {
  h1, .h1 {
    font: normal 30px/40px "vaud-bold", Arial; }

  h2, .h2 {
    font: normal 28px/32px "vaud-medium", Arial; }

  h3, .h3 {
    font: normal 20px/22px "vaud-regular", Arial; }

  h4, .h4 {
    font: normal 18px/20px "vaud-regular", Arial; }

  p, td {
    font-size: 0.9em; } }
/*! Uses and extends upon normalize.css v2.1.3 | MIT License | git.io/normalize */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Setting all the boxes to match the same principles
 *
 * - Inspiration from Paul Irish - http://paulirish.com/2012/box-sizing-border-box-ftw/
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
img {
  max-width: 100%; }

/*
 * Remove margin and padding from html and body elements
 */
html, body {
  margin: 0;
  padding: 0; }

/*
 * Remove margin and padding from other elements
 */
figure {
  margin: 0;
  padding: 0; }

.form-container {
  margin: auto;
  max-width: 800px;
  width: 90%; }

.form-field {
  background-color: #e1ebc6;
  border: #9cbb6b solid 2px;
  font-family: "vaud-regular", Arial;
  font-size: 16px;
  line-height: 21px;
  padding: 1%;
  /* text-align: right; */
  width: 100%; }

.form-button {
  float: right;
  font-family: "vaud-regular", Arial;
  font-size: 16px;
  line-height: 21px; }

.small-text {
  font-size: 0.8em; }

/* Some extra styles, maybe a better place for this? */
.clear {
  clear: both; }

.rounded-image {
  border-radius: 100%;
  max-width: 240px;
  width: 100%; }

html.ie .rounded-image {
  max-height: 240px; }

.no-style {
  list-style: none; }

a img {
  border: none; }

/***** PADDING *****/
.no-padding {
  padding: 0; }

.padding-1 {
  padding: 21px; }

.padding-2 {
  padding: 42px; }

.padding-4 {
  padding: 84px; }

@media (max-width: 1206px) {
  .padding-4 {
    padding: 63px; } }
@media (max-width: 874px) {
  .padding-4 {
    padding: 42px; } }
@media (max-width: 550px) {
  .padding-4 {
    padding: 31.5px; } }
@media (max-width: 430px) {
  .padding-2 {
    padding: 21px; }

  .padding-4 {
    padding: 21px; } }
/***** MARGIN *****/
.no-margin {
  margin: 0; }

.no-margin > p {
  margin: 0; }

.margin-bottom {
  margin-bottom: 21px; }

.margin-top {
  margin-top: 21px !important; }

.margin-top-2 {
  margin-top: 42px; }

.margin-top-4 {
  margin-top: 84px; }

@media (max-width: 1206px) {
  .margin-top-4 {
    margin-top: 63px; } }
@media (max-width: 874px) {
  .margin-top-4 {
    margin-top: 42px; } }
@media (max-width: 550px) {
  .margin-top-4 {
    margin-top: 31.5px; } }
@media (max-width: 430px) {
  .margin-top-2 {
    margin-top: 21px; }

  .margin-top-4 {
    margin-top: 21px; } }
/* =============================================================================
   Layout CSS - Grids widths, column gutters & wrappers
   ========================================================================== */
/* For generic column styling */
/********** EXTRA SMALL AND SMALL GRID **********/
@media screen and (max-width: 550px) {
  /* =============================================================================
     Column gutters & extended gutters
     ========================================================================== */
  .p-grid-1 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .p-grid-2 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .p-grid-3 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .p-grid-4 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .p-grid-5 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .p-grid-6 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .p-grid-7 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .p-grid-8 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .p-grid-9 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .p-grid-10 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .p-grid-11 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .p-grid-12 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .p-gutter-expand {
    margin-left: 3.65044%;
    margin-right: 3.65044%; }

  .p-gutter-expand-right {
    margin-right: 3.65044%; }

  .p-gutter-expand-left {
    margin-left: 3.65044%; }

  .p-gutter-collapse {
    margin: 0 !important; }

  /* =============================================================================
     Grid Widths
     ========================================================================== */
  /*
   * When '-alt' is used it's for when a column has expanded gutters
   */
  .p-grid-1 {
    width: 5.89971%; }

  .p-grid-2 {
    width: 14.23304%; }

  .p-grid-3 {
    width: 22.56637%; }

  .p-grid-4 {
    width: 30.89971%; }

  .p-grid-5 {
    width: 39.23304%; }

  .p-grid-6 {
    width: 47.56637%; }

  .p-grid-7 {
    width: 55.89971%; }

  .p-grid-8 {
    width: 64.23304%; }

  .p-grid-9 {
    width: 72.56637%; }

  .p-grid-10 {
    width: 80.89971%; }

  .p-grid-11 {
    width: 89.23304%; }

  .p-grid-12 {
    width: 97.56637%; }

  .p-grid-13 {
    width: 105.89971%; }

  .p-grid-14 {
    width: 114.23304%; }

  .p-grid-15 {
    width: 122.56637%; }

  .p-clear-1 {
    margin-left: 06.8585944% !important; } }
/********** MEDIUM GRID **********/
@media screen and (min-width: 551px) and (max-width: 874px) {
  /* =============================================================================
     Column gutters & extended gutters
     ========================================================================== */
  .t-grid-1 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .t-grid-2 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .t-grid-3 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .t-grid-4 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .t-grid-5 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .t-grid-6 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .t-grid-7 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .t-grid-8 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .t-grid-9 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .t-grid-10 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .t-grid-11 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .t-grid-12 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .t-gutter-expand {
    margin-left: 3.65044%;
    margin-right: 3.65044%; }

  .t-gutter-expand-right {
    margin-right: 3.65044%; }

  .t-gutter-expand-left {
    margin-left: 3.65044%; }

  .t-gutter-collapse {
    margin: 0 !important; }

  /* =============================================================================
     Grid Widths
     ========================================================================== */
  /*
   * When '-alt' is used it's for when a column has expanded gutters
   */
  .t-grid-1 {
    width: 5.89971%; }

  .t-grid-2 {
    width: 14.23304%; }

  .t-grid-3 {
    width: 22.56637%; }

  .t-grid-4 {
    width: 30.89971%; }

  .t-grid-5 {
    width: 39.23304%; }

  .t-grid-6 {
    width: 47.56637%; }

  .t-grid-7 {
    width: 55.89971%; }

  .t-grid-8 {
    width: 64.23304%; }

  .t-grid-9 {
    width: 72.56637%; }

  .t-grid-10 {
    width: 80.89971%; }

  .t-grid-11 {
    width: 89.23304%; }

  .t-grid-12 {
    width: 97.56637%; }

  .t-grid-13 {
    width: 105.89971%; }

  .t-grid-14 {
    width: 114.23304%; }

  .t-grid-15 {
    width: 122.56637%; }

  .t-clear-1 {
    margin-left: 06.8585944% !important; } }
/********** LARGE AND EXTRA LARGE GRID **********/
@media screen and (min-width: 875px) {
  /* =============================================================================
     Column gutters & extended gutters
     ========================================================================== */
  .l-grid-1 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .l-grid-2 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .l-grid-3 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .l-grid-4 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .l-grid-5 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .l-grid-6 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .l-grid-7 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .l-grid-8 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .l-grid-9 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .l-grid-10 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .l-grid-11 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .l-grid-12 {
    display: inline;
    float: left;
    margin: 0 1.21681%; }

  .l-gutter-expand {
    margin-left: 3.65044%;
    margin-right: 3.65044%; }

  .l-gutter-expand-right {
    margin-right: 3.65044%; }

  .l-gutter-expand-left {
    margin-left: 3.65044%; }

  .l-gutter-collapse {
    margin: 0 !important; }

  /* =============================================================================
     Grid Widths
     ========================================================================== */
  /*
   * When '-alt' is used it's for when a column has expanded gutters
   */
  .l-grid-1 {
    width: 5.89971%; }

  .l-grid-2 {
    width: 14.23304%; }

  .l-grid-3 {
    width: 22.56637%; }

  .l-grid-4 {
    width: 30.89971%; }

  .l-grid-5 {
    width: 39.23304%; }

  .l-grid-6 {
    width: 47.56637%; }

  .l-grid-7 {
    width: 55.89971%; }

  .l-grid-8 {
    width: 64.23304%; }

  .l-grid-9 {
    width: 72.56637%; }

  .l-grid-10 {
    width: 80.89971%; }

  .l-grid-11 {
    width: 89.23304%; }

  .l-grid-12 {
    width: 97.56637%; }

  .l-grid-13 {
    width: 105.89971%; }

  .l-grid-14 {
    width: 114.23304%; }

  .l-grid-15 {
    width: 122.56637%; }

  .l-clear-1 {
    margin-left: 06.8585944% !important; } }
.l-grid-row {
  margin: 0; }

.l-content {
  position: relative;
  width: 92%;
  max-width: 1356;
  margin: 0 auto; }

/*
 * Collapsing the margins and paddings
 */
.collapse {
  margin: 0;
  padding: 0; }

.l-right {
  float: right; }

.l-left {
  float: left; }

.l-centered {
  text-align: center; }

/*----------------------------------------------------------------------------
 Container
----------------------------------------------------------------------------*/
.container {
  max-width: 1356px;
  width: 95%;
  overflow: hidden;
  margin: 0 auto; }

.inner-content {
  padding: 0 21px; }

.m-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  padding: 4em 0; }
  .m-banner .caption p {
    clear: both;
    color: #fff;
    float: left;
    max-width: 400px; }
  .m-banner .caption p.subheading-l-right {
    float: right; }
  .m-banner .heading {
    float: left;
    max-width: 600px; }
  .m-banner .m-text-surround, .m-banner .m-text-surround-grey {
    background: rgba(0, 0, 0, 0.5); }

html.ie .m-banner .m-text-surround, html.ie .m-banner .m-text-surround-grey {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000, endColorstr=#50000000)"; }

.m-btn {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  border-style: solid;
  border-width: 1px 1px 3px;
  border-color: #ECD313;
  padding: 8px 16px;
  background: #ffe200;
  border-radius: 3px;
  text-decoration: none;
  color: #000;
  font-family: "vaud-semi-bold", Arial;
  -webkit-transition: background border, 0.2s;
  -moz-transition: background border, 0.2s;
  transition: background border, 0.2s;
  -webkit-transition: margin, 0.1s;
  -moz-transition: margin, 0.1s;
  transition: margin, 0.1s;
  position: relative; }

.m-btn:hover {
  background: #f5d900;
  border-color: #e3cb12; }

.m-btn:active {
  border-width: 1px;
  margin-top: 2px; }

.case-study-introduction .over-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0; }
.case-study-introduction .before-after {
  max-height: 760px; }

.case-study-project-details .project-statistics {
  margin-bottom: 21px; }
  .case-study-project-details .project-statistics h2 {
    color: #96bc3f;
    margin: 21px auto; }
  .case-study-project-details .project-statistics p {
    font-size: 1.2em;
    margin: 10.5px 0; }
  .case-study-project-details .project-statistics table {
    width: 100%; }
    .case-study-project-details .project-statistics table td.table-value {
      padding-left: 5%; }
.case-study-project-details .project-map img {
  height: auto;
  max-width: 500px;
  width: 100%; }
.case-study-project-details .project-images figure img {
  height: auto;
  margin-bottom: 21px;
  width: 100%; }

.m-cta {
  max-width: 190px; }

.m-cta-inline > * {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin: 0 1em 0; }

.eligibility .big-grey-font {
  color: #989898;
  font-family: "vaud-bold", Arial;
  font-size: 2.5em;
  font-weight: bolder; }
.eligibility .additional-req .green-bullet {
  list-style: none; }
.eligibility .additional-req .green-bullet:before {
  color: #96bc3f;
  content: '\2022';
  display: block;
  font-size: 3em;
  left: -42px;
  margin-bottom: 21px;
  max-width: 0px;
  max-height: 0px;
  position: relative;
  top: 21px; }

@media (max-width: 874px) {
  .eligibility .rounded-image {
    max-width: 200px; }
  .eligibility .responsive-hidden {
    display: none !important; }
  .eligibility .responsive-shown {
    display: block; } }
@media (min-width: 875px) {
  .eligibility .responsive-hidden {
    display: block; }
  .eligibility .responsive-shown {
    display: none !important; } }
@media (max-width: 550px) {
  .eligibility h2, .eligibility h3 {
    margin-bottom: 0.5em; }
  .eligibility .additional-req {
    /*.green-bullet::before {
    	font-size: 2em;
    	left: - ($baseline * 1.2);
    	margin-bottom: $baseline;
    }*/ }
    .eligibility .additional-req ul {
      margin-top: 0; }
    .eligibility .additional-req p {
      font-size: 14px;
      margin-bottom: 0; } }
.m-slider {
  clear: both;
  position: relative; }
  .m-slider .m-text-surround, .m-slider .m-text-surround-grey {
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 21px; }
    .m-slider .m-text-surround p, .m-slider .m-text-surround-grey p {
      margin: 0; }

html.ie .m-slider .m-text-surround, html.ie .m-slider .m-text-surround-grey {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000, endColorstr=#50000000)"; }

.flex-viewport {
  overflow: hidden; }
  .flex-viewport li .slide-image {
    height: 546px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.flex-viewport li .slide-image2 {
    height: 546px;
    width:800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    }

.m-slider-controls {
  z-index: 9; }

.m-slider-controls-container {
  position: absolute;
  bottom: 40px;
  width: 100%; }

.m-slider-controls-container .container {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5; }

.m-slider-controls2 {
  z-index: 9; }

.m-slider-controls-container2 {
  position:relative;
  top:520px;
  width: 100%; }

.m-slider-controls-container2 .container {
    z-index: 5; }

.flex-control-nav {
  position: relative;
  float: left;
  width: auto;
  bottom: 0;
  left: 0;
  z-index: 999; }

.flex-control-paging li a {
  width: 16px;
  height: 16px; }

.flex-control-paging li a,
.flex-control-paging li a:hover {
  background: #fff;
  box-shadow: none; }

.flex-control-paging li a.flex-active {
  background: #ffe200; }

.slides > li {
  position: relative; }

.slides .container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0; }

.slide-caption {
  position: absolute;
  left: 10px;
  top: 100px;
  max-width: 500px; }
  .slide-caption .heading {
    margin-bottom: 0.3em; }
  .slide-caption .m-text-surround, .slide-caption .m-text-surround-grey {
    max-width: 400px; }
  .slide-caption p {
    color: #fff;
    font-size: 20px;
    line-height: 24px; }

.slide-caption2 {
  position: absolute;
  right: 0px;
  top: 30px;
  max-width: 470px; }
  .slide-caption2 .heading {
    margin-bottom: 0.3em; 
    
  }
  .slide-caption2 .m-text-surround, .slide-caption2 .m-text-surround-grey {
    max-width: 470px; 
    border: solid 2px white;
    border-radius:4px;
    padding: 1em;
  }
  .slide-caption2 p {
    color: white;
    font-size: 20px;
    line-height: 24px; }

.slide-cta {
  position: absolute;
  right: 10px;
  bottom: 100px; }

/********** RESPONSIVE STUFF *********/
@media (max-width: 874px) {
  .m-slider .flex-viewport li .slide-image {
    height: 462px; }
  .m-slider .flex-viewport .slide-caption {
    top: 50px; }
    .m-slider .flex-viewport .slide-caption p {
      font-size: 18px;
      max-width: 90%; } }
@media (max-width: 550px) {
  .m-slider .flex-viewport li .slide-image {
    height: 336px; }
  .m-slider .flex-viewport .slide-caption {
    top: 20px; }
    .m-slider .flex-viewport .slide-caption p {
      font-size: 16px;
      max-width: 100%; }
    .m-slider .flex-viewport .slide-caption .m-text-surround, .m-slider .flex-viewport .slide-caption .m-text-surround-grey {
      margin-bottom: 10.5px; } }
.info-introduction {
  display: table;
  margin: 0 auto;
  max-width: 1356px;
  width: 90%; }
  .info-introduction .row {
    display: table-row; }
    .info-introduction .row .box {
      display: table-cell;
      padding: 63px 2% 2% 2%; }

html.ie .info-introduction .row .box {
  padding: 63px 0 2% 0; }
  html.ie .info-introduction .row .box h2, html.ie .info-introduction .row .box p {
    padding-left: 5%;
    padding-right: 5%; }

@media (max-width: 874px) {
  .info-introduction .row .box {
    display: block;
    padding: 42px 5% 5% 5%; } }
@media (max-width: 550px) {
  .info-introduction .row .box p {
    font-size: 0.9em; } }
/* This is kept here because it is used in some places, but it should be removed in the future 
because no other element in the site should have this class, shich is concrete for the information pages */
.m-info-section {
  padding: 63px 0; }

/********** INFORMATION SECTIONS **********/
.info-sections .info-section {
  position: relative; }
  .info-sections .info-section .table {
    display: table;
    margin: 0 auto;
    max-width: 1356px; }
    .info-sections .info-section .table .row {
      display: table-row; }
      .info-sections .info-section .table .row .box {
        display: table-cell;
        padding: 21px;
        vertical-align: middle;
        width: 33%; }
      .info-sections .info-section .table .row .box.left .text, .info-sections .info-section .table .row .box.right .text {
        position: relative; }
        .info-sections .info-section .table .row .box.left .text p, .info-sections .info-section .table .row .box.right .text p {
          margin: 0; }
      .info-sections .info-section .table .row .box.left .responsive-hidden, .info-sections .info-section .table .row .box.right .responsive-hidden {
        display: none; }
      .info-sections .info-section .table .row .box.center {
        text-align: center; }
        .info-sections .info-section .table .row .box.center img {
          border-radius: 100%;
          position: relative;
          max-height: 300px;
          max-width: 300px; }
.info-sections .info-section:before {
  border-top: 2px solid white;
  content: "";
  position: absolute;
  left: 30%;
  top: 50%;
  right: 30%;
  z-index: 0; }
.info-sections .white-bg .m-text-surround, .info-sections .white-bg .m-text-surround-grey {
  background-color: #FFF;
  border-color: #f2f2f2; }
.info-sections .white-bg.info-section:before {
  border-color: #f2f2f2 !important; }
.info-sections .light-grey-bg .m-text-surround, .info-sections .light-grey-bg .m-text-surround-grey {
  background-color: #f2f2f2; }

@media (max-width: 1206px) {
  .info-sections .info-section .table .row .box.center img {
    max-height: 250px;
    max-width: 250px; }
  .info-sections .info-section::before {
    left: 20%;
    right: 20%; } }
@media (max-width: 874px) {
  .info-sections .info-section .table .row .box.left {
    display: none; }
  .info-sections .info-section .table .row .box.right {
    display: table-row; }
    .info-sections .info-section .table .row .box.right .text {
      margin: 5% auto;
      max-width: 80%; }
    .info-sections .info-section .table .row .box.right .responsive-hidden {
      display: block;
      margin-bottom: 21px; }
  .info-sections .info-section .table .row .box.center {
    display: table-row; }
    .info-sections .info-section .table .row .box.center img {
      margin-top: 5%; }
  .info-sections .info-section:before {
    border-top: 0;
    border-left: 2px solid #FFF;
    left: 50%;
    top: 10%;
    bottom: 10%; }

  html.ie .info-sections .info-section .table .row .box.right, html.ie .info-sections .info-section .table .row .box.center {
    display: block;
    width: 500px; }
    html.ie .info-sections .info-section .table .row .box.right img, html.ie .info-sections .info-section .table .row .box.center img {
      padding-left: 0; } }
@media (max-width: 550px) {
  .info-sections .info-section .table .row .box.right .text {
    max-width: 90%;
    font-size: 0.9em; }
  .info-sections .info-section .table .row .box.center img {
    max-height: 200px;
    max-width: 200px; }

  html.ie .info-sections .info-section .table .row .box.right, html.ie .info-sections .info-section .table .row .box.center {
    width: 300px; } }
/********** INFORMATION SECTIONS HEADER **********/
.info-sections-header {
  padding: 63px 21px 0; }
  .info-sections-header .header {
    margin: 0 auto;
    max-width: 672px; }

@media (max-width: 874px) {
  .info-sections-header {
    padding-top: 42px; } }
@media (max-width: 550px) {
  .info-sections-header .header p {
    font-size: 0.9em; } }
.m-info-section.m-image-gallery .m-text-background, .m-info-section.m-image-gallery h1, .m-info-section.m-image-gallery .h1 {
  margin-bottom: 21px;
  max-width: 420px; }
.m-info-section.m-image-gallery figure img {
  margin-bottom: 21px;
  width: 100%; }

.m-info-section.m-case-study-image-gallery .m-text-background, .m-info-section.m-case-study-image-gallery h1, .m-info-section.m-case-study-image-gallery .h1 {
  margin-bottom: 21px;
  max-width: 420px; }
.m-info-section.m-case-study-image-gallery figure img {
  margin-bottom: 21px;
  width: 100%;
  border-radius: 100%; }

@media (max-width: 874px) {
  .m-info-section.m-image-gallery .container div:nth-of-type(3), .m-info-section.m-case-study-image-gallery .container div:nth-of-type(3) {
    clear: both; }
  .m-info-section.m-image-gallery figure img, .m-info-section.m-case-study-image-gallery figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; } }
@media (max-width: 550px) {
  .m-info-section.m-image-gallery figure img, .m-info-section.m-case-study-image-gallery figure img {
    width: 60%; } }
/* =============================================================================
   List Module - Vertical and Horizontal styling
   ========================================================================== */
/*
 * Removing the margin and padding of the base styling
 */
.m-list, .m-inline-list, .m-stacked-list {
  margin: 0;
  padding: 0; }

/*
 * Horizontal Styling (from left to right)
 */
.m-inline-list {
  *zoom: 1; }
  .m-inline-list:before, .m-inline-list:after {
    content: "";
    display: table; }
  .m-inline-list:after {
    clear: both; }
  .m-inline-list .list-item {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1; }

/*
 * Stacked Styling (from top to bottom)
 */
.m-stacked-list .list-item {
  list-style: none;
  line-height: 180%;
  padding-left: 0; }

/*
 * Bordered Lists
 */
.m-bordered-list .list-item {
  border-right: 1px solid #ccc; }
.m-bordered-list .last-item {
  border: 0; }

.m-site-footer {
  background: #4c4c4c;
  color: #fff;
  padding: 21px 0; }
  .m-site-footer .heading {
    color: #989898;
    font-style: italic; }
  .m-site-footer .copyright-credits {
    margin-top: 63px;
    font-size: 12px;
    color: #989898; }
    .m-site-footer .copyright-credits p {
      margin-bottom: 0; }
  .m-site-footer .copyright, .m-site-footer .credits {
    display: block; }
  .m-site-footer .social-links {
    text-align: right;
    color: #96bc3f; }
    .m-site-footer .social-links a:hover {
      color: #abcb63; }
    .m-site-footer .social-links .m-social-link {
      margin-left: 30px; }
      .m-site-footer .social-links .m-social-link a i img.social-icon {
        display: none; }

html.ie .m-site-footer .social-links .m-social-link a i img.social-icon {
  display: inline-block;
  max-height: 30px;
  max-width: 30px; }

@media (max-width: 550px) {
  .m-site-footer .container {
    position: relative; }
  .m-site-footer .m-stacked-list {
    margin-left: 10.5px;
    margin-bottom: 10.5px; }
  .m-site-footer .heading {
    margin-left: 10.5px; }
  .m-site-footer .social-links {
    position: absolute;
    top: 0;
    right: 10.5px; }
    .m-site-footer .social-links .m-social-link {
      margin-left: 0.5em; }
  .m-site-footer .copyright-credits {
    margin-top: 42px; } }
@media (max-width: 430px) {
  .m-site-footer .footer-nav {
    font-size: 14px; }
    .m-site-footer .footer-nav .m-social-link {
      font-size: 24px; }
  .m-site-footer .copyright-credits {
    margin-top: 21px; }
  .m-site-footer .l-left {
    clear: both;
    float: right; }
  .m-site-footer .copyright, .m-site-footer .credits {
    display: inline; } }
.m-site-head {
  height: 105px;
  color: #4c4c4c; }
  .m-site-head .logo {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    float: left;
    margin-top: 34px; }
  .m-site-head .container {
    overflow: visible; }
  .m-site-head .m-social-link {
    color: #96bc3f; }
    .m-site-head .m-social-link a:hover {
      color: #abcb63; }

.m-site-head .list-item {
  margin-left: 1em; }
.m-site-head .menu-item a {
  padding: 12px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s; }
.m-site-head .menu-item a:hover {
  background: #96bc3f;
  color: #fff; }

.m-site-head .m-site-nav .m-inline-list .social-links {
  margin-left: 1em; }
  .m-site-head .m-site-nav .m-inline-list .social-links .m-social-link {
    margin-left: 0.33em; }
    .m-site-head .m-site-nav .m-inline-list .social-links .m-social-link a i img.social-icon {
      display: none; }

html.ie .m-site-head .m-site-nav .m-inline-list .social-links .m-social-link a i img.social-icon {
  display: inline-block;
  max-height: 30px;
  max-width: 30px; }

.m-site-nav {
  margin-top: 60px; }
  .m-site-nav > ul li {
    position: relative; }
    .m-site-nav > ul li:hover ul {
      display: block; }
  .m-site-nav > ul ul {
    background: #fff;
    display: none;
    left: 0;
    padding: 0;
    padding-top: 12px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999; }
    .m-site-nav > ul ul a {
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      width: 100%; }
    .m-site-nav > ul ul .list-item {
      margin: 0;
      display: block;
      line-height: 1.8em; }
      .m-site-nav > ul ul .list-item a {
        padding: 0 8px; }

/********** RESPONSIVE STUFF **********/
/*** LARGE SIZE ***/
@media (max-width: 1206px) {
  .m-site-nav {
    clear: both;
    float: left;
    margin: 10px 0; } }
/*** MEDIUM SIZE ***/
.mobile-nav-checkbox, .mobile-nav-label, .mobile-nav {
  display: none; }

html.ie .mobile-nav-checkbox {
  display: block;
  left: -9999px;
  position: absolute; }

@media (max-width: 874px) {
  .m-site-head .logo {
    float: none; }
  .m-site-head .m-site-nav {
    display: none; }
  .m-site-head .mobile-nav-label {
    background-color: #96bc3f;
    border-radius: 5px;
    display: block;
    float: right;
    height: 40px;
    margin-top: 44px;
    width: 40px;
    /* The rest is needed for the 3-line icon */
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    text-align: center; }
  .m-site-head .mobile-nav-checkbox:checked ~ .mobile-nav {
    display: block; }
  .m-site-head .mobile-nav {
    margin-top: 21px; }
    .m-site-head .mobile-nav p {
      color: #989898;
      font-style: italic; }
    .m-site-head .mobile-nav .social-links {
      clear: both;
      float: right;
      margin: 22px 0 10px; }
      .m-site-head .mobile-nav .social-links .m-social-link {
        display: inline-block;
        margin-left: 0.33em; }
        .m-site-head .mobile-nav .social-links .m-social-link a i img.social-icon {
          display: none; }

  html.ie .m-site-head .mobile-nav .social-links .m-social-link a i img.social-icon {
    display: inline-block;
    max-height: 24px;
    max-width: 24px; } }
/*** SMALL SIZE ***/
@media (max-width: 550px) {
  .m-site-head .mobile-nav p, .m-site-head .mobile-nav li {
    margin: 0; }
  .m-site-head .mobile-nav .p-grid-12 {
    margin-left: 21px;
    margin-bottom: 10.5px; }
  .m-site-head .mobile-nav .social-links {
    margin-top: 0; } }
/*** EXTRA SMALL SIZE ***/
@media (max-width: 430px) {
  .m-site-head {
    height: 66px; }
    .m-site-head .logo {
      margin-top: 14px;
      max-width: 240px; }
    .m-site-head .mobile-nav-label {
      font-size: 20px;
      height: 30px;
      line-height: 30px;
      margin-top: 24px;
      width: 30px; }
    .m-site-head .mobile-nav {
      font-size: 14px; }
      .m-site-head .mobile-nav .social-links .m-social-link {
        font-size: 24px; } }
.m-site-section {
  padding: 84px 0; }
  .m-site-section .box.image {
    text-align: center; }
    .m-site-section .box.image img {
      height: 100%;
      max-height: 300px;
      width: 100%; }
  .m-site-section .box.image.third-box img {
    height: auto; }

html.ie .m-site-section .box.image img {
  height: auto;
  width: auto; }

@media (max-width: 1206px) {
  .m-site-section {
    padding: 42px 0; } }
@media (max-width: 874px) {
  .m-site-section .h1 {
    display: inline; }
  .m-site-section .box {
    margin-bottom: 21px; }
  .m-site-section .box.cta.third-box a {
    display: table;
    margin: 0 auto; }
  .m-site-section .box.third-box {
    margin-bottom: 0; }
  .m-site-section .box.image img {
    max-height: 250px; }
  .m-site-section .box.image.third-box img {
    width: 450px; } }
@media (max-width: 550px) {
  .m-site-section {
    padding: 21px 0; }
    .m-site-section .box.heading {
      text-align: center; }
    .m-site-section .box.cta a {
      display: table;
      margin: 0 auto; }
    .m-site-section .box.image.third-box img {
      max-height: 200px;
      width: auto; } }
.m-social-link {
  font-size: 28px;
  line-height: 28px; }
  .m-social-link a {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    .m-social-link a:hover {
      background: inherit;
      color: #96bc3f; }

.m-text-background, h1, .h1 {
  margin-bottom: 0; }
  .m-text-background span, h1 span, .h1 span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    background: #fff;
    padding: 0 0.1em;
    margin-bottom: 5px; }

.m-info-section .m-text-background, .m-info-section h1, .m-info-section .h1 {
  max-width: 315px; }

.white-bg .m-text-background span, .white-bg h1 span, .white-bg .h1 span, .white-bg-transparent .m-text-background span, .white-bg-transparent h1 span, .white-bg-transparent .h1 span {
  background: #4c4c4c;
  color: #fff; }

.green-bg .m-text-background span, .green-bg h1 span, .green-bg .h1 span, .green-bg-transparent .m-text-background span, .green-bg-transparent h1 span, .green-bg-transparent .h1 span {
  background: #fff;
  color: #000; }

.grey-bg .m-text-background span, .grey-bg h1 span, .grey-bg .h1 span, .grey-bg-transparent .m-text-background span, .grey-bg-transparent h1 span, .grey-bg-transparent .h1 span {
  background: #588b0f;
  color: #fff; }

.m-text-surround, .m-text-surround-grey {
  border: solid 2px #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 1em; }

.m-text-surround-grey {
  border-color: #989898; }

@media (max-width: 550px) {
  .m-text-surround, .m-text-surround-grey {
    padding: 0.5em; } }
.m-validation-sections .container {
  display: table;
  padding-bottom: 0;
  /***** ODD ROWS *****/
  /***** EVEN ROWS *****/
  /***** IN VIEW ROWS *****/ }
  .m-validation-sections .container .waypoint {
    list-style: none;
    position: relative;
    /***** NUMBER ROWS *****/
    /***** CONTENT ROWS *****/ }
    .m-validation-sections .container .waypoint .number-row {
      display: table-row; }
      .m-validation-sections .container .waypoint .number-row div {
        display: table-cell;
        text-align: center;
        vertical-align: middle; }
      .m-validation-sections .container .waypoint .number-row .number {
        background-color: #989898;
        border-radius: 100%;
        color: #FFF;
        display: block;
        font-size: 18px;
        line-height: 36px;
        margin: 0 auto;
        opacity: 0;
        width: 36px;
        behavior: url(/public/js/pie/PIE.php); }
    .m-validation-sections .container .waypoint .content-row {
      display: table-row;
      /***** TIMELINE *****/
      /***** CONTENT BOXES *****/ }
      .m-validation-sections .container .waypoint .content-row .timeline {
        display: table-cell;
        opacity: 0;
        position: relative;
        width: 2%; }
      .m-validation-sections .container .waypoint .content-row .box {
        display: table-cell;
        padding-bottom: 12%;
        max-width: 500px;
        vertical-align: top;
        width: 48%; }
        .m-validation-sections .container .waypoint .content-row .box h3, .m-validation-sections .container .waypoint .content-row .box p {
          max-width: 300px;
          opacity: 0; }
        .m-validation-sections .container .waypoint .content-row .box img {
          max-width: 300px;
          max-height: 200px;
          height: 100%;
          width: 100%;
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
          transform: scale(0);
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
      .m-validation-sections .container .waypoint .content-row .box.left {
        text-align: right; }
        .m-validation-sections .container .waypoint .content-row .box.left h3, .m-validation-sections .container .waypoint .content-row .box.left p, .m-validation-sections .container .waypoint .content-row .box.left img {
          padding-right: 5%; }
      .m-validation-sections .container .waypoint .content-row .box.right h3, .m-validation-sections .container .waypoint .content-row .box.right p, .m-validation-sections .container .waypoint .content-row .box.right img {
        padding-left: 5%; }
  .m-validation-sections .container .waypoint.show-timeline:before {
    border-left: 2px solid #989898;
    bottom: 0;
    content: "";
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 0;
    z-index: -1; }
  .m-validation-sections .container .nth-child-odd .content-row .box.left h3, .m-validation-sections .container .nth-child-odd .content-row .box.left p, .m-validation-sections .container li:nth-child(odd) .content-row .box.left h3, .m-validation-sections .container li:nth-child(odd) .content-row .box.left p {
    margin-left: auto; }
  .m-validation-sections .container .nth-child-odd .content-row .box.left img, .m-validation-sections .container li:nth-child(odd) .content-row .box.left img {
    display: none; }
  .m-validation-sections .container .nth-child-odd .content-row .box.right h3, .m-validation-sections .container .nth-child-odd .content-row .box.right p, .m-validation-sections .container li:nth-child(odd) .content-row .box.right h3, .m-validation-sections .container li:nth-child(odd) .content-row .box.right p {
    display: none; }
  .m-validation-sections .container .nth-child-even .content-row .box.left h3, .m-validation-sections .container .nth-child-even .content-row .box.left p, .m-validation-sections .container li:nth-child(even) .content-row .box.left h3, .m-validation-sections .container li:nth-child(even) .content-row .box.left p {
    display: none; }
  .m-validation-sections .container .nth-child-even .content-row .box.right img, .m-validation-sections .container li:nth-child(even) .content-row .box.right img {
    display: none; }
  .m-validation-sections .container .waypoint.js-in-view .number-row .number {
    opacity: 1;
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -ms-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 800ms;
    -moz-animation-duration: 800ms;
    -ms-animation-duration: 800ms;
    -o-animation-duration: 800ms;
    animation-duration: 800ms;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear; }
  .m-validation-sections .container .waypoint.js-in-view .content-row .box h3, .m-validation-sections .container .waypoint.js-in-view .content-row .box p {
    opacity: 1; }
  .m-validation-sections .container .waypoint.js-in-view .content-row .box img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

html.ie .container .waypoint.show-timeline-always:before {
  border-left: 2px solid #989898;
  bottom: 0;
  content: "";
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 0;
  z-index: -1; }

html.ie .m-validation-sections .container .waypoint .content-row .box img {
  height: auto;
  width: auto; }

/***** RESPONSIVENESS *****/
@media (max-width: 1206px) {
  .m-validation-sections .container {
    /***** ALL ROWS *****/ }
    .m-validation-sections .container li:nth-child(n) .content-row .box img {
      width: 180px;
      max-height: 180px; } }
@media (max-width: 874px) {
  .m-validation-sections .container {
    margin-bottom: 10%;
    /***** ALL ROWS *****/ }
    .m-validation-sections .container .waypoint.show-timeline:before {
      border-left: 0; }
    .m-validation-sections .container li:nth-child(n) .number-row .left, .m-validation-sections .container li:nth-child(n) .number-row .right {
      display: none; }
    .m-validation-sections .container li:nth-child(n) .content-row .box {
      padding-bottom: 15%;
      text-align: center; }
    .m-validation-sections .container li:nth-child(n) .content-row .box.left, .m-validation-sections .container li:nth-child(n) .content-row .timeline {
      display: none; }
    .m-validation-sections .container li:nth-child(n) .content-row .box.right h3, .m-validation-sections .container li:nth-child(n) .content-row .box.right p, .m-validation-sections .container li:nth-child(n) .content-row .box.right img {
      display: block;
      margin: 18px auto;
      padding-left: 0; }

  html.ie .m-validation-sections .container .waypoint.show-timeline-always:before {
    border-left: 0; }
  html.ie .m-validation-sections .container .waypoint .number-row {
    display: block;
    text-align: center; }
    html.ie .m-validation-sections .container .waypoint .number-row div {
      display: block; }
  html.ie .m-validation-sections .container .waypoint .content-row {
    display: block; } }
/***** NUMBER ANIMATION FOR DIFFERENT BROWSER ***** Should create a mixin for this! */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=style.css.map */


.awards{
	width:80px;
}

.botol{
	width:320px;
}

.top-logo{
	margin-top:-17px;
	height:70px;
}

.h1-1{
	display:inline-block;
	background: #fff;
	padding:0 0.1em;
}

.side-banner{
    width:400px;
    height:100px;
    background: url(../images/bioproBanner2.png) no-repeat center;
    position:fixed;
    background-size: contain;
    right:-30px;
    top:110px;
    z-index: 101;
}

.fill-up img{
    background-size: contain;
}

