@font-face {
    font-family: 'vaud-bold';
    src: url('vaudbold-webfont.eot');
    src: url('vaudbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('vaudbold-webfont.woff') format('woff'),
         url('vaudbold-webfont.ttf') format('truetype'),
         url('vaudbold-webfont.svg#vaudregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vaud-medium';
    src: url('vaudmed-webfont.eot');
    src: url('vaudmed-webfont.eot?#iefix') format('embedded-opentype'),
         url('vaudmed-webfont.woff') format('woff'),
         url('vaudmed-webfont.ttf') format('truetype'),
         url('vaudmed-webfont.svg#vaudregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vaud-regular';
    src: url('vaudregular-webfont.eot');
    src: url('vaudregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('vaudregular-webfont.woff') format('woff'),
         url('vaudregular-webfont.ttf') format('truetype'),
         url('vaudregular-webfont.svg#vaudregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vaud-semi-bold';
    src: url('vaudsemibold-webfont.eot');
    src: url('vaudsemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('vaudsemibold-webfont.woff') format('woff'),
         url('vaudsemibold-webfont.ttf') format('truetype'),
         url('vaudsemibold-webfont.svg#vaudregular') format('svg');
    font-weight: normal;
    font-style: normal;

}