/* main.css */

.profile-img{
    width:140px;
    border-radius: 70px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-green{
    background-color: #588b0f;
}

.navbar-header a.navbar-brand{
    color:white;
}

.navbar-header a.navbar-brand:hover{
    color:#f5d900;
}

.panel-green{
    border-color: #588b0f;
    
}
.panel-green>.panel-heading{
    background-color: #588b0f;
    color:white;
}

.background1{
    background: url(../assets/images/sprinkles_@2x.png) repeat;
}


.stock-text h1{
    font-size: 5em;
    color:#3c763d;
    
}

.stock-text p{
    margin-left:10px;
}
