.error {
	color: #D15B47;
	display: block;
	font-weight: bold;
}

div.clear {
	clear: both;
}

div.clear {
	clear: both;
}

div.product-chooser {

}

div.product-chooser.disabled div.product-chooser-item {
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.6;
	cursor: default;
}

div.product-chooser div.product-chooser-item {
	padding: 11px;
	border-radius: 6px;
	position: relative;
	border: 1px solid #efefef;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

div.product-chooser div.product-chooser-item.selected {
	border: 4px solid #428bca;
	background: #efefef;
	padding: 8px;
	filter: alpha(opacity=100);
	opacity: 1;
}

div.product-chooser div.product-chooser-item img {
	padding: 0;
}

div.product-chooser div.product-chooser-item span.title {
	display: block;
	margin: 10px 0 5px 0;
	font-weight: bold;
	font-size: 12px;
}

div.product-chooser div.product-chooser-item span.description {
	font-size: 12px;
}

div.product-chooser div.product-chooser-item input {
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}

.background-box {
	background: url(../../assets/images/biopro-box-small.png) no-repeat right;
	background-size: contain;
}

.address-field input.form-control {
	margin-bottom: 3px;
	margin-top: 4px;
}

div.list-group-item {
	height: auto;
	min-height: 220px;
}
div.list-group-item.active small {
	color: #fff;
}
.stars {
	margin: 20px auto 1px;
}

.register-img{
    height: 300px;
    width:300px;
    margin-bottom:-180px;
    background:url(../../assets/images/bumi.png) no-repeat center;
    background-size: contain;
}

.login-img{
    width:auto;
    height:88px;
    margin-bottom:-200px;
    background:url(../../assets/images/login-img.png) no-repeat center;
    background-size:contain;
}

.receipt-img{
    width:120px;
    height:120px;
    background: url(../../assets/images/BadgesReceipt.png) no-repeat center;
    background-size: contain;
}

.registerPre-img{
    width:220px;
    height:220px;
    margin-bottom:-18px;
    background: url(../assets/images/smiley-01.png) no-repeat center;
    background-size: contain;
}